.navbar{
    width: 95vw;
    height: 30px;
    /* border: 1px solid black; */
    background: gray;
}
.navbar-title{
    color: aliceblue;
    font-size: 31px;
}
.main-content{
    /* border: 1px solid black; */
    align-items: center;
    text-align: center;
    margin: 0;
    margin-top: -20%;
    padding: 20%;
}
.burger-stack{
    /* border: 1px solid black; */
    width: 200px;
    margin: auto;
}