.checkout-container {
  min-height: 100vh;
  background: #f4f4f4;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  /* background: #4caf50; */
  color: #fff;
}

.brand {
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.nav-links button {
  margin-left: 10px;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.content {
  width: 90%;
  max-width: 900px;
  margin: 20px auto;
}
h1{
  color: #ea580c;
  text-align: center;
  margin-bottom: 2rem;
}

.burger-preview {
  margin: 20px auto;
  width: 260px;
  text-align: center;
}

.bread {
  padding: 10px;
  background: #e8c07d;
  border-radius: 20px;
  margin: 5px 0;
}

.top {
  background: #e0a759;
}

.bottom {
  background: #d6954b;
}

.layer {
  padding: 4px 0;
  margin: 4px 0;
  border-radius: 8px;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
}

.layer.salad {
  background: #8bc34a;
}

.layer.bacon {
  background: #d84315;
}

.layer.cheese {
  background: #ffeb3b;
}

.layer.meat {
  background: #795548;
  color: white;
}

.price {
  text-align: center;
  font-size: 18px;
  margin: 10px 0 25px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.order-btn {
  padding: 10px;
  background: #4caf50;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.order-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
